/* settings page container */
#glottybot-settings-panel {
	
}

.glottybot-select-locale select {
	max-width:200px;
}

.glottybot-select-country [disabled] {
	display:none;
}

.glottybot-add-translation label {
}
.glottybot-add-translation .glottybot-select-locale {
	display:inline-block;
}

#glottybot-translations.wp-list-table td {
	padding: 5px 10px;
	border-bottom:1px solid #ddd;
}

#glottybot-translations.wp-list-table tbody tr .glottybot-slug-placeholder,
#glottybot-translations.wp-list-table tbody tr:first-child .glottybot-slug {
	display:none;
}
#glottybot-translations.wp-list-table tbody tr:first-child .glottybot-slug-placeholder {
	display:initial;
}
#glottybot-translations.wp-list-table thead th.icon {
	width:2em;
}
#glottybot-translations.wp-list-table thead tr:nth-child(odd),
#glottybot-translations.wp-list-table tr:nth-child(even) {
	background:#fff;
}
#glottybot-translations.wp-list-table tr:nth-child(odd) {
	background:#f9f9f9;
}
#glottybot-translations.wp-list-table th {
	padding: 15px 10px;
}