.i18n-item {
	position: relative !important;
	width: 1.3333333333333333em !important;
	height:1em !important;
	margin-right:0.5em !important;
}
.i18n-item[data-language],
.i18n-item[data-country] {
	position: relative;
	display: inline-block;
	width: 1.3333333333333333em;
	height:1em;
	line-height: 1em;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}
.i18n-item[data-language] {
	border:1px solid rgba(30,30,30,0.8);
	background-color:rgba(255,255,255,0.9);
}
.i18n-item[data-language][data-country] {
	border-style:none;
	background-color:transparent;
}

.i18n-item[data-language]:after {
	position:absolute;
	right:-3px;
	left:0;
	bottom:-3px;
	content:attr(data-language);
	text-align:center;
	text-transform:uppercase;
	font-size: 0.8em;
	line-height:1.2em;
	font-weight:bold;
	color:#000;
	background-color:transparent;
}
.i18n-item[data-language][data-country]:after {
	left:auto;
	padding:0 0.1em;
	font-size: 0.6em;
	background:rgba(255,255,255,0.9);
}

.i18n-item[data-language].invert:after {
	color:#fff;
	background:rgba(0,0,0,0.6);
}


.i18n-item[data-country='ad'],
.i18n-item[data-country='AD'] {
	background-image:url( '../flags/4x3/ad.svg' );
}
.i18n-item[data-country='ae'],
.i18n-item[data-country='AE'] {
	background-image:url( '../flags/4x3/ae.svg' );
}
.i18n-item[data-country='af'],
.i18n-item[data-country='AF'] {
	background-image:url( '../flags/4x3/af.svg' );
}
.i18n-item[data-country='ag'],
.i18n-item[data-country='AG'] {
	background-image:url( '../flags/4x3/ag.svg' );
}
.i18n-item[data-country='ai'],
.i18n-item[data-country='AI'] {
	background-image:url( '../flags/4x3/ai.svg' );
}
.i18n-item[data-country='al'],
.i18n-item[data-country='AL'] {
	background-image:url( '../flags/4x3/al.svg' );
}
.i18n-item[data-country='am'],
.i18n-item[data-country='AM'] {
	background-image:url( '../flags/4x3/am.svg' );
}
.i18n-item[data-country='ao'],
.i18n-item[data-country='AO'] {
	background-image:url( '../flags/4x3/ao.svg' );
}
.i18n-item[data-country='aq'],
.i18n-item[data-country='AQ'] {
	background-image:url( '../flags/4x3/aq.svg' );
}
.i18n-item[data-country='ar'],
.i18n-item[data-country='AR'] {
	background-image:url( '../flags/4x3/ar.svg' );
}
.i18n-item[data-country='as'],
.i18n-item[data-country='AS'] {
	background-image:url( '../flags/4x3/as.svg' );
}
.i18n-item[data-country='at'],
.i18n-item[data-country='AT'] {
	background-image:url( '../flags/4x3/at.svg' );
}
.i18n-item[data-country='au'],
.i18n-item[data-country='AU'] {
	background-image:url( '../flags/4x3/au.svg' );
}
.i18n-item[data-country='aw'],
.i18n-item[data-country='AW'] {
	background-image:url( '../flags/4x3/aw.svg' );
}
.i18n-item[data-country='ax'],
.i18n-item[data-country='AX'] {
	background-image:url( '../flags/4x3/ax.svg' );
}
.i18n-item[data-country='az'],
.i18n-item[data-country='AZ'] {
	background-image:url( '../flags/4x3/az.svg' );
}
.i18n-item[data-country='ba'],
.i18n-item[data-country='BA'] {
	background-image:url( '../flags/4x3/ba.svg' );
}
.i18n-item[data-country='bb'],
.i18n-item[data-country='BB'] {
	background-image:url( '../flags/4x3/bb.svg' );
}
.i18n-item[data-country='bd'],
.i18n-item[data-country='BD'] {
	background-image:url( '../flags/4x3/bd.svg' );
}
.i18n-item[data-country='be'],
.i18n-item[data-country='BE'] {
	background-image:url( '../flags/4x3/be.svg' );
}
.i18n-item[data-country='bf'],
.i18n-item[data-country='BF'] {
	background-image:url( '../flags/4x3/bf.svg' );
}
.i18n-item[data-country='bg'],
.i18n-item[data-country='BG'] {
	background-image:url( '../flags/4x3/bg.svg' );
}
.i18n-item[data-country='bh'],
.i18n-item[data-country='BH'] {
	background-image:url( '../flags/4x3/bh.svg' );
}
.i18n-item[data-country='bi'],
.i18n-item[data-country='BI'] {
	background-image:url( '../flags/4x3/bi.svg' );
}
.i18n-item[data-country='bj'],
.i18n-item[data-country='BJ'] {
	background-image:url( '../flags/4x3/bj.svg' );
}
.i18n-item[data-country='bl'],
.i18n-item[data-country='BL'] {
	background-image:url( '../flags/4x3/bl.svg' );
}
.i18n-item[data-country='bm'],
.i18n-item[data-country='BM'] {
	background-image:url( '../flags/4x3/bm.svg' );
}
.i18n-item[data-country='bn'],
.i18n-item[data-country='BN'] {
	background-image:url( '../flags/4x3/bn.svg' );
}
.i18n-item[data-country='bo'],
.i18n-item[data-country='BO'] {
	background-image:url( '../flags/4x3/bo.svg' );
}
.i18n-item[data-country='bq'],
.i18n-item[data-country='BQ'] {
	background-image:url( '../flags/4x3/bq.svg' );
}
.i18n-item[data-country='br'],
.i18n-item[data-country='BR'] {
	background-image:url( '../flags/4x3/br.svg' );
}
.i18n-item[data-country='bs'],
.i18n-item[data-country='BS'] {
	background-image:url( '../flags/4x3/bs.svg' );
}
.i18n-item[data-country='bt'],
.i18n-item[data-country='BT'] {
	background-image:url( '../flags/4x3/bt.svg' );
}
.i18n-item[data-country='bv'],
.i18n-item[data-country='BV'] {
	background-image:url( '../flags/4x3/bv.svg' );
}
.i18n-item[data-country='bw'],
.i18n-item[data-country='BW'] {
	background-image:url( '../flags/4x3/bw.svg' );
}
.i18n-item[data-country='by'],
.i18n-item[data-country='BY'] {
	background-image:url( '../flags/4x3/by.svg' );
}
.i18n-item[data-country='bz'],
.i18n-item[data-country='BZ'] {
	background-image:url( '../flags/4x3/bz.svg' );
}
.i18n-item[data-country='ca'],
.i18n-item[data-country='CA'] {
	background-image:url( '../flags/4x3/ca.svg' );
}
.i18n-item[data-country='cc'],
.i18n-item[data-country='CC'] {
	background-image:url( '../flags/4x3/cc.svg' );
}
.i18n-item[data-country='cd'],
.i18n-item[data-country='CD'] {
	background-image:url( '../flags/4x3/cd.svg' );
}
.i18n-item[data-country='cf'],
.i18n-item[data-country='CF'] {
	background-image:url( '../flags/4x3/cf.svg' );
}
.i18n-item[data-country='cg'],
.i18n-item[data-country='CG'] {
	background-image:url( '../flags/4x3/cg.svg' );
}
.i18n-item[data-country='ch'],
.i18n-item[data-country='CH'] {
	background-image:url( '../flags/4x3/ch.svg' );
}
.i18n-item[data-country='ci'],
.i18n-item[data-country='CI'] {
	background-image:url( '../flags/4x3/ci.svg' );
}
.i18n-item[data-country='ck'],
.i18n-item[data-country='CK'] {
	background-image:url( '../flags/4x3/ck.svg' );
}
.i18n-item[data-country='cl'],
.i18n-item[data-country='CL'] {
	background-image:url( '../flags/4x3/cl.svg' );
}
.i18n-item[data-country='cm'],
.i18n-item[data-country='CM'] {
	background-image:url( '../flags/4x3/cm.svg' );
}
.i18n-item[data-country='cn'],
.i18n-item[data-country='CN'] {
	background-image:url( '../flags/4x3/cn.svg' );
}
.i18n-item[data-country='co'],
.i18n-item[data-country='CO'] {
	background-image:url( '../flags/4x3/co.svg' );
}
.i18n-item[data-country='cr'],
.i18n-item[data-country='CR'] {
	background-image:url( '../flags/4x3/cr.svg' );
}
.i18n-item[data-country='cu'],
.i18n-item[data-country='CU'] {
	background-image:url( '../flags/4x3/cu.svg' );
}
.i18n-item[data-country='cv'],
.i18n-item[data-country='CV'] {
	background-image:url( '../flags/4x3/cv.svg' );
}
.i18n-item[data-country='cw'],
.i18n-item[data-country='CW'] {
	background-image:url( '../flags/4x3/cw.svg' );
}
.i18n-item[data-country='cx'],
.i18n-item[data-country='CX'] {
	background-image:url( '../flags/4x3/cx.svg' );
}
.i18n-item[data-country='cy'],
.i18n-item[data-country='CY'] {
	background-image:url( '../flags/4x3/cy.svg' );
}
.i18n-item[data-country='cz'],
.i18n-item[data-country='CZ'] {
	background-image:url( '../flags/4x3/cz.svg' );
}
.i18n-item[data-country='de'],
.i18n-item[data-country='DE'] {
	background-image:url( '../flags/4x3/de.svg' );
}
.i18n-item[data-country='dj'],
.i18n-item[data-country='DJ'] {
	background-image:url( '../flags/4x3/dj.svg' );
}
.i18n-item[data-country='dk'],
.i18n-item[data-country='DK'] {
	background-image:url( '../flags/4x3/dk.svg' );
}
.i18n-item[data-country='dm'],
.i18n-item[data-country='DM'] {
	background-image:url( '../flags/4x3/dm.svg' );
}
.i18n-item[data-country='do'],
.i18n-item[data-country='DO'] {
	background-image:url( '../flags/4x3/do.svg' );
}
.i18n-item[data-country='dz'],
.i18n-item[data-country='DZ'] {
	background-image:url( '../flags/4x3/dz.svg' );
}
.i18n-item[data-country='ec'],
.i18n-item[data-country='EC'] {
	background-image:url( '../flags/4x3/ec.svg' );
}
.i18n-item[data-country='ee'],
.i18n-item[data-country='EE'] {
	background-image:url( '../flags/4x3/ee.svg' );
}
.i18n-item[data-country='eg'],
.i18n-item[data-country='EG'] {
	background-image:url( '../flags/4x3/eg.svg' );
}
.i18n-item[data-country='eh'],
.i18n-item[data-country='EH'] {
	background-image:url( '../flags/4x3/eh.svg' );
}
.i18n-item[data-country='er'],
.i18n-item[data-country='ER'] {
	background-image:url( '../flags/4x3/er.svg' );
}
.i18n-item[data-country='es'],
.i18n-item[data-country='ES'] {
	background-image:url( '../flags/4x3/es.svg' );
}
.i18n-item[data-country='et'],
.i18n-item[data-country='ET'] {
	background-image:url( '../flags/4x3/et.svg' );
}
.i18n-item[data-country='fi'],
.i18n-item[data-country='FI'] {
	background-image:url( '../flags/4x3/fi.svg' );
}
.i18n-item[data-country='fj'],
.i18n-item[data-country='FJ'] {
	background-image:url( '../flags/4x3/fj.svg' );
}
.i18n-item[data-country='fk'],
.i18n-item[data-country='FK'] {
	background-image:url( '../flags/4x3/fk.svg' );
}
.i18n-item[data-country='fm'],
.i18n-item[data-country='FM'] {
	background-image:url( '../flags/4x3/fm.svg' );
}
.i18n-item[data-country='fo'],
.i18n-item[data-country='FO'] {
	background-image:url( '../flags/4x3/fo.svg' );
}
.i18n-item[data-country='fr'],
.i18n-item[data-country='FR'] {
	background-image:url( '../flags/4x3/fr.svg' );
}
.i18n-item[data-country='ga'],
.i18n-item[data-country='GA'] {
	background-image:url( '../flags/4x3/ga.svg' );
}
.i18n-item[data-country='gb'],
.i18n-item[data-country='GB'] {
	background-image:url( '../flags/4x3/gb.svg' );
}
.i18n-item[data-country='gd'],
.i18n-item[data-country='GD'] {
	background-image:url( '../flags/4x3/gd.svg' );
}
.i18n-item[data-country='ge'],
.i18n-item[data-country='GE'] {
	background-image:url( '../flags/4x3/ge.svg' );
}
.i18n-item[data-country='gf'],
.i18n-item[data-country='GF'] {
	background-image:url( '../flags/4x3/gf.svg' );
}
.i18n-item[data-country='gg'],
.i18n-item[data-country='GG'] {
	background-image:url( '../flags/4x3/gg.svg' );
}
.i18n-item[data-country='gh'],
.i18n-item[data-country='GH'] {
	background-image:url( '../flags/4x3/gh.svg' );
}
.i18n-item[data-country='gi'],
.i18n-item[data-country='GI'] {
	background-image:url( '../flags/4x3/gi.svg' );
}
.i18n-item[data-country='gl'],
.i18n-item[data-country='GL'] {
	background-image:url( '../flags/4x3/gl.svg' );
}
.i18n-item[data-country='gm'],
.i18n-item[data-country='GM'] {
	background-image:url( '../flags/4x3/gm.svg' );
}
.i18n-item[data-country='gn'],
.i18n-item[data-country='GN'] {
	background-image:url( '../flags/4x3/gn.svg' );
}
.i18n-item[data-country='gp'],
.i18n-item[data-country='GP'] {
	background-image:url( '../flags/4x3/gp.svg' );
}
.i18n-item[data-country='gq'],
.i18n-item[data-country='GQ'] {
	background-image:url( '../flags/4x3/gq.svg' );
}
.i18n-item[data-country='gr'],
.i18n-item[data-country='GR'] {
	background-image:url( '../flags/4x3/gr.svg' );
}
.i18n-item[data-country='gs'],
.i18n-item[data-country='GS'] {
	background-image:url( '../flags/4x3/gs.svg' );
}
.i18n-item[data-country='gt'],
.i18n-item[data-country='GT'] {
	background-image:url( '../flags/4x3/gt.svg' );
}
.i18n-item[data-country='gu'],
.i18n-item[data-country='GU'] {
	background-image:url( '../flags/4x3/gu.svg' );
}
.i18n-item[data-country='gw'],
.i18n-item[data-country='GW'] {
	background-image:url( '../flags/4x3/gw.svg' );
}
.i18n-item[data-country='gy'],
.i18n-item[data-country='GY'] {
	background-image:url( '../flags/4x3/gy.svg' );
}
.i18n-item[data-country='hk'],
.i18n-item[data-country='HK'] {
	background-image:url( '../flags/4x3/hk.svg' );
}
.i18n-item[data-country='hm'],
.i18n-item[data-country='HM'] {
	background-image:url( '../flags/4x3/hm.svg' );
}
.i18n-item[data-country='hn'],
.i18n-item[data-country='HN'] {
	background-image:url( '../flags/4x3/hn.svg' );
}
.i18n-item[data-country='hr'],
.i18n-item[data-country='HR'] {
	background-image:url( '../flags/4x3/hr.svg' );
}
.i18n-item[data-country='ht'],
.i18n-item[data-country='HT'] {
	background-image:url( '../flags/4x3/ht.svg' );
}
.i18n-item[data-country='hu'],
.i18n-item[data-country='HU'] {
	background-image:url( '../flags/4x3/hu.svg' );
}
.i18n-item[data-country='id'],
.i18n-item[data-country='ID'] {
	background-image:url( '../flags/4x3/id.svg' );
}
.i18n-item[data-country='ie'],
.i18n-item[data-country='IE'] {
	background-image:url( '../flags/4x3/ie.svg' );
}
.i18n-item[data-country='il'],
.i18n-item[data-country='IL'] {
	background-image:url( '../flags/4x3/il.svg' );
}
.i18n-item[data-country='im'],
.i18n-item[data-country='IM'] {
	background-image:url( '../flags/4x3/im.svg' );
}
.i18n-item[data-country='in'],
.i18n-item[data-country='IN'] {
	background-image:url( '../flags/4x3/in.svg' );
}
.i18n-item[data-country='io'],
.i18n-item[data-country='IO'] {
	background-image:url( '../flags/4x3/io.svg' );
}
.i18n-item[data-country='iq'],
.i18n-item[data-country='IQ'] {
	background-image:url( '../flags/4x3/iq.svg' );
}
.i18n-item[data-country='ir'],
.i18n-item[data-country='IR'] {
	background-image:url( '../flags/4x3/ir.svg' );
}
.i18n-item[data-country='is'],
.i18n-item[data-country='IS'] {
	background-image:url( '../flags/4x3/is.svg' );
}
.i18n-item[data-country='it'],
.i18n-item[data-country='IT'] {
	background-image:url( '../flags/4x3/it.svg' );
}
.i18n-item[data-country='je'],
.i18n-item[data-country='JE'] {
	background-image:url( '../flags/4x3/je.svg' );
}
.i18n-item[data-country='jm'],
.i18n-item[data-country='JM'] {
	background-image:url( '../flags/4x3/jm.svg' );
}
.i18n-item[data-country='jo'],
.i18n-item[data-country='JO'] {
	background-image:url( '../flags/4x3/jo.svg' );
}
.i18n-item[data-country='jp'],
.i18n-item[data-country='JP'] {
	background-image:url( '../flags/4x3/jp.svg' );
}
.i18n-item[data-country='ke'],
.i18n-item[data-country='KE'] {
	background-image:url( '../flags/4x3/ke.svg' );
}
.i18n-item[data-country='kg'],
.i18n-item[data-country='KG'] {
	background-image:url( '../flags/4x3/kg.svg' );
}
.i18n-item[data-country='kh'],
.i18n-item[data-country='KH'] {
	background-image:url( '../flags/4x3/kh.svg' );
}
.i18n-item[data-country='ki'],
.i18n-item[data-country='KI'] {
	background-image:url( '../flags/4x3/ki.svg' );
}
.i18n-item[data-country='km'],
.i18n-item[data-country='KM'] {
	background-image:url( '../flags/4x3/km.svg' );
}
.i18n-item[data-country='kn'],
.i18n-item[data-country='KN'] {
	background-image:url( '../flags/4x3/kn.svg' );
}
.i18n-item[data-country='kp'],
.i18n-item[data-country='KP'] {
	background-image:url( '../flags/4x3/kp.svg' );
}
.i18n-item[data-country='kr'],
.i18n-item[data-country='KR'] {
	background-image:url( '../flags/4x3/kr.svg' );
}
.i18n-item[data-country='kw'],
.i18n-item[data-country='KW'] {
	background-image:url( '../flags/4x3/kw.svg' );
}
.i18n-item[data-country='ky'],
.i18n-item[data-country='KY'] {
	background-image:url( '../flags/4x3/ky.svg' );
}
.i18n-item[data-country='kz'],
.i18n-item[data-country='KZ'] {
	background-image:url( '../flags/4x3/kz.svg' );
}
.i18n-item[data-country='la'],
.i18n-item[data-country='LA'] {
	background-image:url( '../flags/4x3/la.svg' );
}
.i18n-item[data-country='lb'],
.i18n-item[data-country='LB'] {
	background-image:url( '../flags/4x3/lb.svg' );
}
.i18n-item[data-country='lc'],
.i18n-item[data-country='LC'] {
	background-image:url( '../flags/4x3/lc.svg' );
}
.i18n-item[data-country='li'],
.i18n-item[data-country='LI'] {
	background-image:url( '../flags/4x3/li.svg' );
}
.i18n-item[data-country='lk'],
.i18n-item[data-country='LK'] {
	background-image:url( '../flags/4x3/lk.svg' );
}
.i18n-item[data-country='lr'],
.i18n-item[data-country='LR'] {
	background-image:url( '../flags/4x3/lr.svg' );
}
.i18n-item[data-country='ls'],
.i18n-item[data-country='LS'] {
	background-image:url( '../flags/4x3/ls.svg' );
}
.i18n-item[data-country='lt'],
.i18n-item[data-country='LT'] {
	background-image:url( '../flags/4x3/lt.svg' );
}
.i18n-item[data-country='lu'],
.i18n-item[data-country='LU'] {
	background-image:url( '../flags/4x3/lu.svg' );
}
.i18n-item[data-country='lv'],
.i18n-item[data-country='LV'] {
	background-image:url( '../flags/4x3/lv.svg' );
}
.i18n-item[data-country='ly'],
.i18n-item[data-country='LY'] {
	background-image:url( '../flags/4x3/ly.svg' );
}
.i18n-item[data-country='ma'],
.i18n-item[data-country='MA'] {
	background-image:url( '../flags/4x3/ma.svg' );
}
.i18n-item[data-country='mc'],
.i18n-item[data-country='MC'] {
	background-image:url( '../flags/4x3/mc.svg' );
}
.i18n-item[data-country='md'],
.i18n-item[data-country='MD'] {
	background-image:url( '../flags/4x3/md.svg' );
}
.i18n-item[data-country='me'],
.i18n-item[data-country='ME'] {
	background-image:url( '../flags/4x3/me.svg' );
}
.i18n-item[data-country='mf'],
.i18n-item[data-country='MF'] {
	background-image:url( '../flags/4x3/mf.svg' );
}
.i18n-item[data-country='mg'],
.i18n-item[data-country='MG'] {
	background-image:url( '../flags/4x3/mg.svg' );
}
.i18n-item[data-country='mh'],
.i18n-item[data-country='MH'] {
	background-image:url( '../flags/4x3/mh.svg' );
}
.i18n-item[data-country='mk'],
.i18n-item[data-country='MK'] {
	background-image:url( '../flags/4x3/mk.svg' );
}
.i18n-item[data-country='ml'],
.i18n-item[data-country='ML'] {
	background-image:url( '../flags/4x3/ml.svg' );
}
.i18n-item[data-country='mm'],
.i18n-item[data-country='MM'] {
	background-image:url( '../flags/4x3/mm.svg' );
}
.i18n-item[data-country='mn'],
.i18n-item[data-country='MN'] {
	background-image:url( '../flags/4x3/mn.svg' );
}
.i18n-item[data-country='mo'],
.i18n-item[data-country='MO'] {
	background-image:url( '../flags/4x3/mo.svg' );
}
.i18n-item[data-country='mp'],
.i18n-item[data-country='MP'] {
	background-image:url( '../flags/4x3/mp.svg' );
}
.i18n-item[data-country='mq'],
.i18n-item[data-country='MQ'] {
	background-image:url( '../flags/4x3/mq.svg' );
}
.i18n-item[data-country='mr'],
.i18n-item[data-country='MR'] {
	background-image:url( '../flags/4x3/mr.svg' );
}
.i18n-item[data-country='ms'],
.i18n-item[data-country='MS'] {
	background-image:url( '../flags/4x3/ms.svg' );
}
.i18n-item[data-country='mt'],
.i18n-item[data-country='MT'] {
	background-image:url( '../flags/4x3/mt.svg' );
}
.i18n-item[data-country='mu'],
.i18n-item[data-country='MU'] {
	background-image:url( '../flags/4x3/mu.svg' );
}
.i18n-item[data-country='mv'],
.i18n-item[data-country='MV'] {
	background-image:url( '../flags/4x3/mv.svg' );
}
.i18n-item[data-country='mw'],
.i18n-item[data-country='MW'] {
	background-image:url( '../flags/4x3/mw.svg' );
}
.i18n-item[data-country='mx'],
.i18n-item[data-country='MX'] {
	background-image:url( '../flags/4x3/mx.svg' );
}
.i18n-item[data-country='my'],
.i18n-item[data-country='MY'] {
	background-image:url( '../flags/4x3/my.svg' );
}
.i18n-item[data-country='mz'],
.i18n-item[data-country='MZ'] {
	background-image:url( '../flags/4x3/mz.svg' );
}
.i18n-item[data-country='na'],
.i18n-item[data-country='NA'] {
	background-image:url( '../flags/4x3/na.svg' );
}
.i18n-item[data-country='nc'],
.i18n-item[data-country='NC'] {
	background-image:url( '../flags/4x3/nc.svg' );
}
.i18n-item[data-country='ne'],
.i18n-item[data-country='NE'] {
	background-image:url( '../flags/4x3/ne.svg' );
}
.i18n-item[data-country='nf'],
.i18n-item[data-country='NF'] {
	background-image:url( '../flags/4x3/nf.svg' );
}
.i18n-item[data-country='ng'],
.i18n-item[data-country='NG'] {
	background-image:url( '../flags/4x3/ng.svg' );
}
.i18n-item[data-country='ni'],
.i18n-item[data-country='NI'] {
	background-image:url( '../flags/4x3/ni.svg' );
}
.i18n-item[data-country='nl'],
.i18n-item[data-country='NL'] {
	background-image:url( '../flags/4x3/nl.svg' );
}
.i18n-item[data-country='no'],
.i18n-item[data-country='NO'] {
	background-image:url( '../flags/4x3/no.svg' );
}
.i18n-item[data-country='np'],
.i18n-item[data-country='NP'] {
	background-image:url( '../flags/4x3/np.svg' );
}
.i18n-item[data-country='nr'],
.i18n-item[data-country='NR'] {
	background-image:url( '../flags/4x3/nr.svg' );
}
.i18n-item[data-country='nu'],
.i18n-item[data-country='NU'] {
	background-image:url( '../flags/4x3/nu.svg' );
}
.i18n-item[data-country='nz'],
.i18n-item[data-country='NZ'] {
	background-image:url( '../flags/4x3/nz.svg' );
}
.i18n-item[data-country='om'],
.i18n-item[data-country='OM'] {
	background-image:url( '../flags/4x3/om.svg' );
}
.i18n-item[data-country='pa'],
.i18n-item[data-country='PA'] {
	background-image:url( '../flags/4x3/pa.svg' );
}
.i18n-item[data-country='pe'],
.i18n-item[data-country='PE'] {
	background-image:url( '../flags/4x3/pe.svg' );
}
.i18n-item[data-country='pf'],
.i18n-item[data-country='PF'] {
	background-image:url( '../flags/4x3/pf.svg' );
}
.i18n-item[data-country='pg'],
.i18n-item[data-country='PG'] {
	background-image:url( '../flags/4x3/pg.svg' );
}
.i18n-item[data-country='ph'],
.i18n-item[data-country='PH'] {
	background-image:url( '../flags/4x3/ph.svg' );
}
.i18n-item[data-country='pk'],
.i18n-item[data-country='PK'] {
	background-image:url( '../flags/4x3/pk.svg' );
}
.i18n-item[data-country='pl'],
.i18n-item[data-country='PL'] {
	background-image:url( '../flags/4x3/pl.svg' );
}
.i18n-item[data-country='pm'],
.i18n-item[data-country='PM'] {
	background-image:url( '../flags/4x3/pm.svg' );
}
.i18n-item[data-country='pn'],
.i18n-item[data-country='PN'] {
	background-image:url( '../flags/4x3/pn.svg' );
}
.i18n-item[data-country='pr'],
.i18n-item[data-country='PR'] {
	background-image:url( '../flags/4x3/pr.svg' );
}
.i18n-item[data-country='ps'],
.i18n-item[data-country='PS'] {
	background-image:url( '../flags/4x3/ps.svg' );
}
.i18n-item[data-country='pt'],
.i18n-item[data-country='PT'] {
	background-image:url( '../flags/4x3/pt.svg' );
}
.i18n-item[data-country='pw'],
.i18n-item[data-country='PW'] {
	background-image:url( '../flags/4x3/pw.svg' );
}
.i18n-item[data-country='py'],
.i18n-item[data-country='PY'] {
	background-image:url( '../flags/4x3/py.svg' );
}
.i18n-item[data-country='qa'],
.i18n-item[data-country='QA'] {
	background-image:url( '../flags/4x3/qa.svg' );
}
.i18n-item[data-country='re'],
.i18n-item[data-country='RE'] {
	background-image:url( '../flags/4x3/re.svg' );
}
.i18n-item[data-country='ro'],
.i18n-item[data-country='RO'] {
	background-image:url( '../flags/4x3/ro.svg' );
}
.i18n-item[data-country='rs'],
.i18n-item[data-country='RS'] {
	background-image:url( '../flags/4x3/rs.svg' );
}
.i18n-item[data-country='ru'],
.i18n-item[data-country='RU'] {
	background-image:url( '../flags/4x3/ru.svg' );
}
.i18n-item[data-country='rw'],
.i18n-item[data-country='RW'] {
	background-image:url( '../flags/4x3/rw.svg' );
}
.i18n-item[data-country='sa'],
.i18n-item[data-country='SA'] {
	background-image:url( '../flags/4x3/sa.svg' );
}
.i18n-item[data-country='sb'],
.i18n-item[data-country='SB'] {
	background-image:url( '../flags/4x3/sb.svg' );
}
.i18n-item[data-country='sc'],
.i18n-item[data-country='SC'] {
	background-image:url( '../flags/4x3/sc.svg' );
}
.i18n-item[data-country='sd'],
.i18n-item[data-country='SD'] {
	background-image:url( '../flags/4x3/sd.svg' );
}
.i18n-item[data-country='se'],
.i18n-item[data-country='SE'] {
	background-image:url( '../flags/4x3/se.svg' );
}
.i18n-item[data-country='sg'],
.i18n-item[data-country='SG'] {
	background-image:url( '../flags/4x3/sg.svg' );
}
.i18n-item[data-country='sh'],
.i18n-item[data-country='SH'] {
	background-image:url( '../flags/4x3/sh.svg' );
}
.i18n-item[data-country='si'],
.i18n-item[data-country='SI'] {
	background-image:url( '../flags/4x3/si.svg' );
}
.i18n-item[data-country='sj'],
.i18n-item[data-country='SJ'] {
	background-image:url( '../flags/4x3/sj.svg' );
}
.i18n-item[data-country='sk'],
.i18n-item[data-country='SK'] {
	background-image:url( '../flags/4x3/sk.svg' );
}
.i18n-item[data-country='sl'],
.i18n-item[data-country='SL'] {
	background-image:url( '../flags/4x3/sl.svg' );
}
.i18n-item[data-country='sm'],
.i18n-item[data-country='SM'] {
	background-image:url( '../flags/4x3/sm.svg' );
}
.i18n-item[data-country='sn'],
.i18n-item[data-country='SN'] {
	background-image:url( '../flags/4x3/sn.svg' );
}
.i18n-item[data-country='so'],
.i18n-item[data-country='SO'] {
	background-image:url( '../flags/4x3/so.svg' );
}
.i18n-item[data-country='sr'],
.i18n-item[data-country='SR'] {
	background-image:url( '../flags/4x3/sr.svg' );
}
.i18n-item[data-country='ss'],
.i18n-item[data-country='SS'] {
	background-image:url( '../flags/4x3/ss.svg' );
}
.i18n-item[data-country='st'],
.i18n-item[data-country='ST'] {
	background-image:url( '../flags/4x3/st.svg' );
}
.i18n-item[data-country='sv'],
.i18n-item[data-country='SV'] {
	background-image:url( '../flags/4x3/sv.svg' );
}
.i18n-item[data-country='sx'],
.i18n-item[data-country='SX'] {
	background-image:url( '../flags/4x3/sx.svg' );
}
.i18n-item[data-country='sy'],
.i18n-item[data-country='SY'] {
	background-image:url( '../flags/4x3/sy.svg' );
}
.i18n-item[data-country='sz'],
.i18n-item[data-country='SZ'] {
	background-image:url( '../flags/4x3/sz.svg' );
}
.i18n-item[data-country='tc'],
.i18n-item[data-country='TC'] {
	background-image:url( '../flags/4x3/tc.svg' );
}
.i18n-item[data-country='td'],
.i18n-item[data-country='TD'] {
	background-image:url( '../flags/4x3/td.svg' );
}
.i18n-item[data-country='tf'],
.i18n-item[data-country='TF'] {
	background-image:url( '../flags/4x3/tf.svg' );
}
.i18n-item[data-country='tg'],
.i18n-item[data-country='TG'] {
	background-image:url( '../flags/4x3/tg.svg' );
}
.i18n-item[data-country='th'],
.i18n-item[data-country='TH'] {
	background-image:url( '../flags/4x3/th.svg' );
}
.i18n-item[data-country='tj'],
.i18n-item[data-country='TJ'] {
	background-image:url( '../flags/4x3/tj.svg' );
}
.i18n-item[data-country='tk'],
.i18n-item[data-country='TK'] {
	background-image:url( '../flags/4x3/tk.svg' );
}
.i18n-item[data-country='tl'],
.i18n-item[data-country='TL'] {
	background-image:url( '../flags/4x3/tl.svg' );
}
.i18n-item[data-country='tm'],
.i18n-item[data-country='TM'] {
	background-image:url( '../flags/4x3/tm.svg' );
}
.i18n-item[data-country='tn'],
.i18n-item[data-country='TN'] {
	background-image:url( '../flags/4x3/tn.svg' );
}
.i18n-item[data-country='to'],
.i18n-item[data-country='TO'] {
	background-image:url( '../flags/4x3/to.svg' );
}
.i18n-item[data-country='tr'],
.i18n-item[data-country='TR'] {
	background-image:url( '../flags/4x3/tr.svg' );
}
.i18n-item[data-country='tt'],
.i18n-item[data-country='TT'] {
	background-image:url( '../flags/4x3/tt.svg' );
}
.i18n-item[data-country='tv'],
.i18n-item[data-country='TV'] {
	background-image:url( '../flags/4x3/tv.svg' );
}
.i18n-item[data-country='tw'],
.i18n-item[data-country='TW'] {
	background-image:url( '../flags/4x3/tw.svg' );
}
.i18n-item[data-country='tz'],
.i18n-item[data-country='TZ'] {
	background-image:url( '../flags/4x3/tz.svg' );
}
.i18n-item[data-country='ua'],
.i18n-item[data-country='UA'] {
	background-image:url( '../flags/4x3/ua.svg' );
}
.i18n-item[data-country='ug'],
.i18n-item[data-country='UG'] {
	background-image:url( '../flags/4x3/ug.svg' );
}
.i18n-item[data-country='um'],
.i18n-item[data-country='UM'] {
	background-image:url( '../flags/4x3/um.svg' );
}
.i18n-item[data-country='us'],
.i18n-item[data-country='US'] {
	background-image:url( '../flags/4x3/us.svg' );
}
.i18n-item[data-country='uy'],
.i18n-item[data-country='UY'] {
	background-image:url( '../flags/4x3/uy.svg' );
}
.i18n-item[data-country='uz'],
.i18n-item[data-country='UZ'] {
	background-image:url( '../flags/4x3/uz.svg' );
}
.i18n-item[data-country='va'],
.i18n-item[data-country='VA'] {
	background-image:url( '../flags/4x3/va.svg' );
}
.i18n-item[data-country='vc'],
.i18n-item[data-country='VC'] {
	background-image:url( '../flags/4x3/vc.svg' );
}
.i18n-item[data-country='ve'],
.i18n-item[data-country='VE'] {
	background-image:url( '../flags/4x3/ve.svg' );
}
.i18n-item[data-country='vg'],
.i18n-item[data-country='VG'] {
	background-image:url( '../flags/4x3/vg.svg' );
}
.i18n-item[data-country='vi'],
.i18n-item[data-country='VI'] {
	background-image:url( '../flags/4x3/vi.svg' );
}
.i18n-item[data-country='vn'],
.i18n-item[data-country='VN'] {
	background-image:url( '../flags/4x3/vn.svg' );
}
.i18n-item[data-country='vu'],
.i18n-item[data-country='VU'] {
	background-image:url( '../flags/4x3/vu.svg' );
}
.i18n-item[data-country='wf'],
.i18n-item[data-country='WF'] {
	background-image:url( '../flags/4x3/wf.svg' );
}
.i18n-item[data-country='ws'],
.i18n-item[data-country='WS'] {
	background-image:url( '../flags/4x3/ws.svg' );
}
.i18n-item[data-country='ye'],
.i18n-item[data-country='YE'] {
	background-image:url( '../flags/4x3/ye.svg' );
}
.i18n-item[data-country='yt'],
.i18n-item[data-country='YT'] {
	background-image:url( '../flags/4x3/yt.svg' );
}
.i18n-item[data-country='za'],
.i18n-item[data-country='ZA'] {
	background-image:url( '../flags/4x3/za.svg' );
}
.i18n-item[data-country='zm'],
.i18n-item[data-country='ZM'] {
	background-image:url( '../flags/4x3/zm.svg' );
}
.i18n-item[data-country='zw'],
.i18n-item[data-country='ZW'] {
	background-image:url( '../flags/4x3/zw.svg' );
}
